<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8QmxfnGBP-pPpbbpS5zbdV09merV_Zs4</string>
	<key>GCM_SENDER_ID</key>
	<string>502795729186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woohalabs.medicine</string>
	<key>PROJECT_ID</key>
	<string>medicine-1f073</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-1f073.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502795729186:ios:cd98deb096ce4296d1cd7b</string>
</dict>
</plist>